@import url("common.css");

/* header style */
header {
  /* 투명도 0.2 */
  background: rgba(0, 0, 0, 0.2);
  /* 이미지와 높이를 맞게하기 위해 높이 설정 */
  height: 100px;
  line-height: 100px;
  /* fixed하면 width가 깨지기때문에 재설정 */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
/* 반응형 웹을 사용하기 위해 inner-header 사용 */
header .inner-header {
  /* border: 3px solid red; */
  width: 84%;
  margin: 0 auto;
}
/* logo, gnb, tnb의 수평배치 + 부모 clear */
/* 사진 액자 */
header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  /* 액자 크기 조절 */
  width: 200px;
}
/* 이미지를 액자에 맞게 100% */
header .inner-header .logo img {
  width: 100%;
}
header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px solid #000; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  /* background: red; */
  display: block;
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: #ff8342;
}
header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
}
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  /* icon size는 font-size로 */
  font-size: 18px;
}
header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}
header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}
header .inner-header .gnb-mobile {
  display: none;
}

/* section.main.style */
section.main {
  background: url("../img/vis_4.jpg") no-repeat center/cover fixed;
  height: 100vh;
  position: relative;
}
section.main .main-title {
  /* background: red; */
  color: #fff;
  text-shadow: 2px 2px 10px #123;
  text-align: center;
}
section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;
  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 0;
  position: relative;
  /* 삐져나온 것 없애줌 */
  overflow: hidden;
}
section.main .main-title .view::after {
  content: "";
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  /* .view에 씌우기 위해 position */
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
section.main .main-title .view:hover::after {
  width: 100%;
}
/* section > div.title 공통 style */
section .title {
  text-align: center;
}
section .title h2 {
  font-size: 45px;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}
section .sub-container {
  width: 74%;
  margin: 0 auto;
}

/* section.about style */
section.about {
  /* background: orange; */
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: orange; */
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}
section.about ul.sub-container li {
  /* border: 1px solid #000; */
  float: left;
  width: 33.333%;
}
/* a를 hover했을 때 어떤 것을 hover할지 정해야함 */
section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
}
/* 사진 액자 */
section.about ul.sub-container li .img-box {
  /* border: 3px solid #000; */
  overflow: hidden;
}
/* 이미지를 액자에 딱 맞게 */
section.about ul.sub-container li .img-box img {
  width: 100%;
  transition: 0.6s;
}
section.about ul.sub-container li .text {
  /* border: 3px solid blue; */
  padding: 25px;
}
section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more {
  /* border: 1px solid #000; */
  /* lowercase : 일괄 소문자 변경 */
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}
section.about ul.sub-container li .text .more::before {
  content: "→";
  display: block;
  width: 30px;
  height: 30px;
  /* y축 정렬 */
  line-height: 30px;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
}

/* section.innovation style */
section.innovation {
  margin-bottom: 150px;
}

section.innovation .img-box {
  height: 540px;
  margin-top: 50px;
  background: url("../img/product_1.jpg") no-repeat center/cover;
  position: relative;
}
section.innovation .img-box .inner {
  width: 80%;
  background: #3a3c4e;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 0);
}
section.innovation .img-box .inner h3 {
  /* border: 1px solid #000; */
  background: #fff;
  color: #222;
  font-size: 18px;
  padding: 25px 45px;
}
section.innovation .img-box .inner .bottom {
  padding: 35px 85px;
}
section.innovation .img-box .inner .bottom p {
  /* background: yellow; */
  float: left;
  width: 70%;
  line-height: 1.5;
}
section.innovation .img-box .inner .bottom a {
  background: #ff8342;
  float: right;
  border-radius: 50px;
  padding: 7px 30px;
}

section.innovation .img-box .inner .bottom a:hover {
  background: #f86010;
}

/* section.me style */
section.me {
  background: url("../img/me.jpg") no-repeat center/cover;
  padding: 80px 0;
  margin-bottom: 150px;
}
section.me ul.list {
  /* background: orange; */
  margin-top: 50px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
/* section.me ul.list li -> 이렇게 쓰면 후손 포함 li */
section.me ul.list > li {
  /* border: 1px solid red; */
  padding: 30px 60px;
}
section.me ul.list > li:first-child {
  border-bottom: 1px solid #ddd;
}
section.me ul.list > li h3 {
  /* background: skyblue; */
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}
/* 아이콘을 왼쪽으로 보내기 위해 */
section.me ul.list > li h3 span {
  position: absolute;
  left: -30px;
  color: #ff8342;
}
section.me ul.list > li p {
  /* background: red; */
  line-height: 1.6;
  margin-bottom: 20px;
}
section.me ul.list > li .more {
  font-size: 16px;
  font-weight: 700;
}
section.me ul.list > li .more span {
  color: #ff8342;
  font-size: 14px;
  margin-left: 3px;
}
section.me ul.list ul.in {
  /* background: violet; */
  margin-bottom: 30px;
}
section.me ul.list ul.in li em {
  /* background: tomato; */
  float: left;
  width: 12%;
  margin-top: 3px;
  font-weight: 700;
}
section.me ul.list ul.in li p {
  background: dodgerblue;
  float: left;
  position: relative;
}
section.me ul.list ul.in li p::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff8342;
  position: absolute;
  left: -40px;
  top: 10px;
}
